<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IKILogger_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IKILogger_macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65DAD5BB1D6033F900EC9ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DAD5CE1D6033FA00EC9ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DD5B771D5FA180003B01ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DD5B811D5FA180003B01ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DD5B941D5FA194003B01ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DD5B9D1D5FA194003B01ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
